@font-face {
  font-family: "ami-icons"; /* Project id 3020864 */
  src: url('iconfont.eot?t=1657500392424'); /* IE9 */
  src: url('iconfont.eot?t=1657500392424#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1657500392424') format('woff2'),
       url('iconfont.woff?t=1657500392424') format('woff'),
       url('iconfont.ttf?t=1657500392424') format('truetype');
}

[class^="ami-icons-"], [class*=" ami-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ami-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ami-icons-shousuo:before {
  content: "\e677";
}

.ami-icons-tongyi:before {
  content: "\e67e";
}

.ami-icons-butongyi:before {
  content: "\e67f";
}

.ami-icons-tuihui:before {
  content: "\e680";
}

.ami-icons-yituihui:before {
  content: "\e681";
}

.ami-icons-yiquxiao:before {
  content: "\e682";
}

.ami-icons-yibohui:before {
  content: "\e683";
}

.ami-icons-yitongyi:before {
  content: "\e684";
}

.ami-icons-dianzan-icon:before {
  content: "\e673";
}

.ami-icons-daochu:before {
  content: "\e66c";
}

.ami-icons-baobei:before {
  content: "\e65f";
}

.ami-icons-daifankui:before {
  content: "\e660";
}

.ami-icons-danwei:before {
  content: "\e661";
}

.ami-icons-dianzan:before {
  content: "\e662";
}

.ami-icons-diqu:before {
  content: "\e663";
}

.ami-icons-guanzhu:before {
  content: "\e664";
}

.ami-icons-fabu:before {
  content: "\e665";
}

.ami-icons-liulan:before {
  content: "\e666";
}

.ami-icons-pingjiafankui:before {
  content: "\e667";
}

.ami-icons-yingyongguanli:before {
  content: "\e668";
}

.ami-icons-jinrirenwu:before {
  content: "\e669";
}

.ami-icons-shuju:before {
  content: "\e66b";
}

.ami-icons-xiajiang:before {
  content: "\e66d";
}

.ami-icons-rili:before {
  content: "\e66e";
}

.ami-icons-wochuangjian:before {
  content: "\e66f";
}

.ami-icons-pinglun:before {
  content: "\e670";
}

.ami-icons-xiaji:before {
  content: "\e671";
}

.ami-icons-shangsheng:before {
  content: "\e672";
}

.ami-icons-xiazaijilu:before {
  content: "\e674";
}

.ami-icons-shenpi:before {
  content: "\e675";
}

.ami-icons-shipin:before {
  content: "\e676";
}

.ami-icons-zhishi:before {
  content: "\e678";
}

.ami-icons-shezhiicon:before {
  content: "\e679";
}

.ami-icons-yunhangzhong:before {
  content: "\e67a";
}

.ami-icons-zhihangzhong:before {
  content: "\e67b";
}

.ami-icons-zonglan:before {
  content: "\e67c";
}

.ami-icons-zhihangzhouqi:before {
  content: "\e67d";
}

.ami-icons-passwordIcon:before {
  content: "\e65d";
}

.ami-icons-userIcon:before {
  content: "\e65e";
}

.ami-icons-gantanhao1:before {
  content: "\e765";
}

.ami-icons-wenhao-wuquan:before {
  content: "\e715";
}

.ami-icons-wenhao:before {
  content: "\e614";
}

.ami-icons-wenhao1:before {
  content: "\e6ab";
}

.ami-icons-guidang:before {
  content: "\e65c";
}

.ami-icons-zhuangshidian:before {
  content: "\e657";
}

.ami-icons-gantanhao:before {
  content: "\e658";
}

.ami-icons-dengdai:before {
  content: "\e659";
}

.ami-icons-guanji:before {
  content: "\e65a";
}

.ami-icons-naozhong:before {
  content: "\e65b";
}

.ami-icons-tyrwjk:before {
  content: "\e640";
}

.ami-icons-yzhjgl:before {
  content: "\e641";
}

.ami-icons-bqgl:before {
  content: "\e642";
}

.ami-icons-mxxqgl:before {
  content: "\e643";
}

.ami-icons-mxyzgl:before {
  content: "\e644";
}

.ami-icons-sbIDgl:before {
  content: "\e645";
}

.ami-icons-xqxxgl:before {
  content: "\e646";
}

.ami-icons-cjtjfx:before {
  content: "\e647";
}

.ami-icons-sjhjgl:before {
  content: "\e648";
}

.ami-icons-BIkshgj:before {
  content: "\e649";
}

.ami-icons-zxzskgl:before {
  content: "\e64a";
}

.ami-icons-mxfbfl:before {
  content: "\e64b";
}

.ami-icons-scycdl:before {
  content: "\e64c";
}

.ami-icons-zxjgmx:before {
  content: "\e64d";
}

.ami-icons-yfrwgl:before {
  content: "\e64e";
}

.ami-icons-wtfkgl:before {
  content: "\e64f";
}

.ami-icons-rwddgl:before {
  content: "\e650";
}

.ami-icons-yjqxgl:before {
  content: "\e651";
}

.ami-icons-fbsjsmxgl:before {
  content: "\e652";
}

.ami-icons-ksywhz:before {
  content: "\e653";
}

.ami-icons-yctc:before {
  content: "\e654";
}

.ami-icons-zdycjgl:before {
  content: "\e655";
}

.ami-icons-mxbbgl:before {
  content: "\e656";
}

.ami-icons-a-tijiao:before {
  content: "\e630";
}

.ami-icons-sousuo:before {
  content: "\e631";
}

.ami-icons-quxiaobaobei:before {
  content: "\e632";
}

.ami-icons-wucaozuo:before {
  content: "\e633";
}

.ami-icons-xinxi:before {
  content: "\e634";
}

.ami-icons-redu:before {
  content: "\e635";
}

.ami-icons-wenjianshangchuan:before {
  content: "\e636";
}

.ami-icons-fenxiang:before {
  content: "\e637";
}

.ami-icons-xiugai:before {
  content: "\e638";
}

.ami-icons-tiwen:before {
  content: "\e639";
}

.ami-icons-yonghu:before {
  content: "\e63a";
}

.ami-icons-shangchuan:before {
  content: "\e63b";
}

.ami-icons-guanzhuliang:before {
  content: "\e63c";
}

.ami-icons-redian:before {
  content: "\e63d";
}

.ami-icons-xiazai:before {
  content: "\e63e";
}

.ami-icons-dianwang:before {
  content: "\e63f";
}

.ami-icons-daoru:before {
  content: "\e62c";
}

.ami-icons-bianji:before {
  content: "\e62d";
}

.ami-icons-daoxu:before {
  content: "\e62e";
}

.ami-icons-zhengxu:before {
  content: "\e62f";
}

.ami-icons-a-jiance:before {
  content: "\e6b3";
}

.ami-icons-a-zhuangshi:before {
  content: "\e625";
}

.ami-icons-a-edit:before {
  content: "\e62a";
}

.ami-icons-a-add:before {
  content: "\e629";
}

.ami-icons-a-fuxuankuang:before {
  content: "\e66a";
}

.ami-icons-a-fanhui:before {
  content: "\e6f0";
}

.ami-icons-a-kuai:before {
  content: "\e627";
}

.ami-icons-a-weizhi:before {
  content: "\e628";
}

.ami-icons-a-jian:before {
  content: "\e6a9";
}

.ami-icons-a-guanbi:before {
  content: "\e6a1";
}

.ami-icons-a-wancheng:before {
  content: "\e6a2";
}

.ami-icons-a-xiaoxi:before {
  content: "\e6ba";
}

.ami-icons-a-shuju:before {
  content: "\e6b4";
}

.ami-icons-a-xiala:before {
  content: "\e6b5";
}

.ami-icons-a-shouqi:before {
  content: "\e6b6";
}

.ami-icons-a-jiankong:before {
  content: "\e6b7";
}

.ami-icons-a-jia:before {
  content: "\e6a8";
}

.ami-icons-a-zhengxiang:before {
  content: "\e6bb";
}

.ami-icons-a-baobiao:before {
  content: "\e6bc";
}

.ami-icons-a-fabu:before {
  content: "\e6bd";
}

.ami-icons-a-shanchu:before {
  content: "\e6be";
}

.ami-icons-a-zhibiao:before {
  content: "\e6bf";
}

.ami-icons-a-tupian:before {
  content: "\e6b1";
}

.ami-icons-a-wenjian:before {
  content: "\e6b2";
}

.ami-icons-a-chuangkou:before {
  content: "\e6da";
}

.ami-icons-a-tianchong:before {
  content: "\e6db";
}

