@font-face {
  font-family: "element-icons"; /* Project id 3020864 */
  src: url('iconfont.eot?t=1647261056060'); /* IE9 */
  src: url('iconfont.eot?t=1647261056060#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1647261056060') format('woff2'),
       url('iconfont.woff?t=1647261056060') format('woff'),
       url('iconfont.svg?t=1647261056060#element-icons') format('svg');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sg-icon-fanhui:before {
  content: "\e6ff";
}

.sg-icon-a-2-1:before {
  content: "\e625";
}

.sg-icon-a-1-2:before {
  content: "\e626";
}

.sg-icon-a-2-2:before {
  content: "\e627";
}

.sg-icon-a-3-2:before {
  content: "\e628";
}

.sg-icon-a-1-1:before {
  content: "\e60f";
}

.sg-icon-a-3-1:before {
  content: "\e621";
}

.sg-icon-jian:before {
  content: "\e6a0";
}

.sg-icon-RectangleCopy:before {
  content: "\e6a1";
}

.sg-icon-RectangleCopy1:before {
  content: "\e6a2";
}

.sg-icon-RectangleCopy2:before {
  content: "\e6a3";
}

.sg-icon-RectangleCopy3:before {
  content: "\e6a4";
}

.sg-icon-RectangleCopy4:before {
  content: "\e6a5";
}

.sg-icon-RectangleCopy5:before {
  content: "\e6a6";
}

.sg-icon-RectangleCopy6:before {
  content: "\e6a7";
}

.sg-icon-RectangleCopy7:before {
  content: "\e6a8";
}

.sg-icon-RectangleCopy8:before {
  content: "\e6a9";
}

.sg-icon-RectangleCopy9:before {
  content: "\e6aa";
}

.sg-icon-RectangleCopy10:before {
  content: "\e6ab";
}

.sg-icon-RectangleCopy11:before {
  content: "\e6ac";
}

.sg-icon-RectangleCopy12:before {
  content: "\e6ad";
}

.sg-icon-RectangleCopy13:before {
  content: "\e6ae";
}

.sg-icon-RectangleCopy14:before {
  content: "\e6af";
}

.sg-icon-RectangleCopy15:before {
  content: "\e6b2";
}

.sg-icon-zip1:before {
  content: "\e624";
}

.sg-icon-a-yonghu-hei1:before {
  content: "\e622";
}

.sg-icon-hecharenwufenxi:before {
  content: "\e623";
}

.sg-icon-xiadie:before {
  content: "\e602";
}

.sg-icon-dierming:before {
  content: "\e606";
}

.sg-icon-weifankuishuliang:before {
  content: "\e608";
}

.sg-icon-tianjiawenjian-lan:before {
  content: "\e609";
}

.sg-icon-moxingzongshu-3:before {
  content: "\e60b";
}

.sg-icon-diyiming:before {
  content: "\e60c";
}

.sg-icon-fankuiyichangshuliang:before {
  content: "\e60d";
}

.sg-icon-fankuishuliang:before {
  content: "\e60e";
}

.sg-icon-disanming:before {
  content: "\e610";
}

.sg-icon-lishiwenjian:before {
  content: "\e611";
}

.sg-icon-moxingzongshu-1:before {
  content: "\e612";
}

.sg-icon-moxingzongshu-2:before {
  content: "\e613";
}

.sg-icon-tianjiawenjian-lv:before {
  content: "\e614";
}

.sg-icon-moxingzongshu:before {
  content: "\e61e";
}

.sg-icon-renwuxiafashengfen:before {
  content: "\e61f";
}

.sg-icon-txt:before {
  content: "\e601";
}

.sg-icon-xls:before {
  content: "\e603";
}

.sg-icon-doc:before {
  content: "\e604";
}

.sg-icon-pdf:before {
  content: "\e605";
}

.sg-icon-shangzhang:before {
  content: "\e607";
}

.sg-icon-u26611:before {
  content: "\e616";
}

.sg-icon-u26579:before {
  content: "\e615";
}

.sg-icon-u26599:before {
  content: "\e617";
}

.sg-icon-shousuo:before {
  content: "\e618";
}

.sg-icon-zhankai:before {
  content: "\e61d";
}

.sg-icon-daochu_u11065:before {
  content: "\e619";
}

.sg-icon-u26592:before {
  content: "\e61a";
}

.sg-icon-u4592:before {
  content: "\e61b";
}

.sg-icon-u26605:before {
  content: "\e61c";
}

.sg-icon-wenbenbianjitianchong:before {
  content: "\e6d4";
}

.sg-icon-shanchu:before {
  content: "\e74b";
}

.sg-icon-xinzeng:before {
  content: "\e620";
}

.sg-icon-sousuo:before {
  content: "\e60a";
}

