.demo-block.demo-dialog {
  .dialog-footer button:first-child {
    margin-right: 10px;
  }
  .full-image {
    width: 100%;
  }

  .ami-dialog__wrapper {
    margin: 0;
  }

  .ami-select {
    width: 300px;
  }

  .ami-input {
    width: 300px;
  }

  .ami-button--text {
    margin-right: 15px;
  }
}
