@import "mixins/mixins";
@import "common/var";
.border-bottom {
  border-bottom: 1px solid $--border-color-base;
}
@include b(model-title) {
  height: 36px;
  line-height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -17px;
  padding: 0 17px;

  &__left {
    i {
      width: 3px;
      height: 12px;
      display: inline-block;
      margin-right: 12px;
      border-radius: 2px;
      background-color: $--color-primary;
    }

    span {
      font-weight: 900;
      font-size: 16px;
    }
  }
  &__right {
    height: 100%;
    width: auto;
    i {
      color: $--color-primary;
    }
  }
}
