$_T_M_H: 12px;
$_T_F_H: 60px;
$_T_H_H: 70px;
$_T_C_F8F8F8: #f8f8f8;
$_T_P: 22px;
.ami-service-table .d-f {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ami-service-table .p {
  margin-block-start: 0;
  webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.ami-service-table .border-bottom {
  border-bottom: 1px solid #eaeaea;
}

//表格没数据时让没数据提示剧中
.ami-service-table .ami-table__empty-text .ami-no-data-box {
  transform: none;
}

//斑马纹表格背景色
.ami-service-table .ami-table--striped .ami-table__body tr.ami-table__row--striped td {
  background: rgba(0, 64, 209, 0.05);
}

.ami-service-table  .ami-table--border .ami-table__cell,
.ami-table__body-wrapper .ami-table--border.is-scrolling-left ~ .ami-table__fixed {
  // border-right: 1px solid #dee0e6;
  border-bottom: 1px solid #dee0e6;
}
.ami-service-table  .ami-table__body-wrapper {
  height: calc(100% - 46px) !important;
}
.ami-service-table .title-right  .ami-divider--vertical {
  width: 1px;
  height: 24px;
  background: #e4e7ed;
  border-radius: 1px;
  margin: 0 12px;
}
//表格内容初始化
.ami-service-table .ami-table {
  border-radius: 4px 4px 0 0;

  th {
    padding: 0 !important;
    height: 45px;
    line-height: 45px;
    background: $_T_C_F8F8F8;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #333333;
    border: 0;
  }

  td {
    padding: 0 !important;
    font-size: 14px;
    color: #666666;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
}

.ami-service-table {
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  border: 1px solid #dee0e6;

  &-card {
    height: 100%;
    box-shadow: none;
    border: none;

    .ami-card__body {
      height: 100%;
      padding-top: 0;
      box-shadow: none;

      header {
        height: $_T_H_H;
        @extend .d-f;

        > :nth-child(1) {
          @extend .d-f;
          color: #333333;
          font-weight: 900;
          font-size: 16px;

          i {
            width: 3px;
            height: 12px;
            display: inline-block;
            margin-right: 10px;
            border-radius: 2px;
            background-color: #0040d1;
          }
        }

        .title-right {
          padding-bottom: 4px;
        }
      }
    }

    &-body {
      height: calc(100% - #{$_T_H_H + $_T_F_H});
      border-radius: 4px 4px 0 0;
    }

    &-header-hidden {
      height: calc(100% - #{$_T_H_H});
    }

    &-footer-hidden {
      height: calc(100% - #{$_T_F_H});
    }

    &-hidden {
      height: calc(100% - #{$_T_H_H + $_T_F_H});
    }
    .ami-table-slot {
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0 0;
      border: 1px solid #dee0e6;
    }
    footer {
      height: $_T_F_H;
      background: #fafafa;
      border-left: 1px #dee0e6 solid;
      border-bottom: 1px #dee0e6 solid;
      border-right: 1px #dee0e6 solid;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      position: relative;

      .page {
        height: 100%;
        flex: 1;
        @extend .d-f;
        padding-right: 30px;
      }

      .operation {
        position: absolute;
        right: 0;
        top: 0;
        margin-right: -1px;

        & > p {
          height: 10px;
          border-bottom-right-radius: 5px;
          border-bottom: #dee0e6 1px solid;
          @extend .p;
        }

        & > div {
          height: calc(#{$_T_F_H} - 8px);
          background-color: #ffffff;
          @extend .d-f;
          padding-right: 15px;

          .left {
            display: block;
            margin-top: -1px;
            width: 26px;
            background-color: #ffffff;

            .row-1 {
              height: 28px;
              width: 54px;
              margin-top: -1px;
              background: #fafafa;

              .col-2 {
                border-left: 1px solid #dee0e6;
                border-top: 1px solid #dee0e6;
                height: 28px;
                margin-left: -1px;
                background-color: #ffffff;
                border-top-left-radius: 26px;
              }
            }

            .row-2 {
              height: 25px;
              width: 54px;
              background-color: #ffffff;

              .col-3 {
                border-right: 1px solid #dee0e6;
                border-bottom: 1px solid #dee0e6;
                height: 23px;
                background: #fafafa;
                border-bottom-right-radius: 26px;
              }
            }
          }

          .right {
            padding-left: 16px;
            z-index: 2;
          }
        }
      }
    }
  }
}
